*{

    font-family: 'Roboto', sans-serif;
}

body{
    background: none;
    

}

a{
    text-decoration: none; 
    color: white;
}

a:hover
{
	
    text-transform: uppercase;
    color: gold;
}

h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.header-image{
    background-image: url("Header.jpg");
    border-bottom: solid;
}




